<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/murtazaahmed/Desktop/demo1/logs/app.json</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />       <!-- ISO 8601 timestamp -->
                <logLevel />        <!-- INFO, DEBUG, ERROR, etc -->
                <threadName />      <!-- Thread info -->
                <loggerName />      <!-- Logger source -->
                <message />         <!-- Your log message -->
                <mdc />             <!-- userId, role, requestId -->
                <stackTrace />      <!-- Full stack trace if exception -->
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

    <logger name="org.example.demo1" level="DEBUG"/>

</configuration>
